body, 
html {
  font-family: 'Montserrat', sans-serif;
  background: url("../imgs/bklanding.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit;
  padding: 10px;
}

/*header*/
header {
  display: center;
  text-align: center;
  color: #166110;
}
/*colours used*/
/*#4d4b4b gray*/
/*#166110 Green*/

 ul {
  list-style-type: none;
 }

 li {
  display:  inline;
  border-radius: 25px;
  padding: 15px;
  width: 200px;
  height: 150px;
 }

.logo {
  width: 10%;
  height: 10%;
  background-color: black;
  opacity:  0.6;
  border-radius: 100px;
}

.navigation {
    background-color: black;
    opacity: 0.6;
  }
/*body*/

.row {
  background-color: white;
  padding: 50px;
  text-align: center;
  background: rgba(255,255,255,0.5);
}

/*Footer*/
footer {
  position: absolute;
  width: 100%;
  background-color: black;
  opacity:  0.6;
  color: white;
  text-align: center;
}

