body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("../imgs/bklanding.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}

/*Footer*/
.footer {
  position: absolute;
  width: 100%;
  background-color: black;
  opacity:  0.6;
  color: white;
  text-align: center;
}

/*Form*/
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 6px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 20px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



button[type=submit] {
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

button[type=submit]:hover {
  background-color: #7c84d6;
  padding: 1rem 2rem;
  border-color: #ee4b08;
  border-width: 4px;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  border-radius: 5px;
  padding: 10px;
}