body, 
html {
  font-family: 'Montserrat', sans-serif;
  background: url("../imgs/bklanding.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*colours used*/
/*#4d4b4b gray*/
/*#166110, rgba(22,97,16, 0.4) Green*/
/* rgba(0,0,0,0.5) Black*/

p {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit;
  padding: 10px;
}

/*header*/
header {
  display: center;
  text-align: center;
  color: #166110;
  padding-top: 10px;
}


 ul {
  list-style-type: none;
 }

 li {
  display:  inline;
  border-radius: 25px;
  padding: 15px;
  width: 200px;
  height: 150px;
 }

.logo {
  width: 10%;
  height: 10%;
}

  /*buttons */
.btn {
  background:rgba(255,255,255,0.5);
}


/*body*/
.row {
  padding-left: 30px;
  text-align: justify;
  text-decoration: black;
  background: rgba(255,255,255,0.8);
  position: inherit;
}

img {
  scale: 10%;
}
/*form*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*Footer*/
footer {
  position: absolute;
  width: 100%;
 background: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

